body {
    min-height: 100%;
}

h1,
h6 {
    text-align: center;
}

h6 {
    margin-bottom: 20px;
}

nav {
    height: 50px;
}

nav a {
    text-align: center;
    display: inline;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

.header {
    background-image: url("resource/header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: khaki;
    height: 360px;
    width: 100%;
}

.content {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.table {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.info {
    margin-left: auto;
    margin-right: auto;
}

.content .card {
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    width: 300px;
    text-align: center;
}

.recommend {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #6b6b6b;
}

.recommend a {
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    color: #6b6b6b;
    text-decoration: none;
    border: 2px solid #6b6b6b;
    text-decoration: none;
    display: inline-block;
    margin-right: auto;
    margin-left: 10px;
    padding: 12px;
    height: 60px;
    min-width: 125px;
    border-radius: 35px;
    margin-bottom: 20px;
}

.recommend a:hover {
    color: #2c7aa4;
    border-color: #2c7aa4;
    text-decoration: none;
}

footer {
    position: relative;
    bottom: 0px;
    background-color: #343a40;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

td {
    height: 50px;
}

p {
    color: rgb(50, 53, 52);
}