h1,
h6 {
    text-align: center;
}

h6 {
    margin-bottom: 20px;
}

.header {
    background-image: url("resource/header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: khaki;
    height: 360px;
    width: 100%;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.table {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.choice {
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.choice a {
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    text-decoration: none;
    display: inline-block;
    margin-right: auto;
    margin-left: 10px;
    padding: 12px;
    height: 50px;
    width: 125px;
    border-radius: 35px;
}

.choice a:hover {
    color: #2c7aa4;
    border-color: #2c7aa4;
    text-decoration: none;
}

.choice a:active {
    color: #2c7aa4;
    border-color: #2c7aa4;
}

.choice a.active {
    color: #2c7aa4;
    border-color: #2c7aa4;
}

.recommend {
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.recommend a {
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    text-decoration: none;
    display: inline-block;
    margin-right: auto;
    margin-left: 10px;
    padding: 12px;
    height: 50px;
    width: 125px;
    border-radius: 35px;
}

.recommend a:hover {
    color: #2c7aa4;
    border-color: #2c7aa4;
    text-decoration: none;
}

td {
    height: 50px;
}

p {
    color: rgb(50, 53, 52);
}